/****** Layout ******/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
// Flex
.flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}

/****** Text *****/
.link{
    color: #61b6de;
    font-weight: 600;
    cursor: pointer;
}
.bold{
    font-weight: 600;
}
.grey{
    color: #bbb;
}

/****** Skeleton Loading *****/
.loading{
    position: relative;
    overflow: hidden;

    &::after{
        display: block;
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        background: linear-gradient(-45deg, transparent 35%, #fff 50%, transparent 65%);
        transform: translate(-60%, -60%);
        animation: scroll 2s linear infinite;
    }
}

@keyframes scroll{
    to{
        transform: translate(20%, 20%);
    }
}