/****** Layout ******/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
// Flex
.flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}

/****** Text *****/
.link{
    color: #61b6de;
    font-weight: 600;
    cursor: pointer;
}
.bold{
    font-weight: 600;
}
.grey{
    color: #bbb;
}
